#feature {
  background: $dark-cyan;
  color: $white;
  padding: 40px;
  overflow: auto;

  ul {
    padding: 0;
    margin: 0;
    li {
      font-size: 22px;
      list-style: none;
      line-height: 2rem;
    }
  }
}
